.navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: rgb(215, 215, 223);
}


.style_nav {
     font-size: 2rem;
     color: rgb(134, 24, 24);
     text-align: center;
     margin-left: 5rem;
}

.list {
     display: flex;
     list-style-type: none;
     font-size: 1.1rem;
     text-decoration: none;
     gap: 1rem;
     margin-right: 3rem;
}

.link_nav{
     text-decoration: none;
     color: black;
     font-weight: bold;
}