.navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: yellow;
}

.style_nav {
     font-size: 2rem;
     color: red;
     text-align: center;
}

.list {
     display: flex;
     list-style-type: none;
     font-size: 1.1rem;
     text-decoration: none;
     gap: 1rem;
}

.link_nav{
     text-decoration: none;
}