.footer_container{
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: rgb(197, 189, 176);
    width: 100%;
    margin: 0;
}

.footer_left{
    display: flex;
    gap: 0.8rem;
    justify-content: flex-end;
}

.footer_right{
    align-items: center;
    padding-left: 6rem;
}